

@import '../../../_common/styles/common.scss';




#banner{	
	width: 320px;
	height: 50px;
	// overflow: visible;
}

.bg{
	transform-origin: 50% 50%;
}


#mask{
	width: 140px;
	height: 50px;
	overflow: hidden;
	@include pos(70, 0);
}

.logo{
	@include pos-scale(-120, 0, .5);
	filter: drop-shadow(0 0 17px rgba(255, 255, 255, 0.6));
}